Libraries/MediaControl.Client.WindowsPhone/Service References/MediaPlayback/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.ggjonline.com/ServiceModel/MediaControl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaPlaybackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.ggjonline.com/ServiceModel/MediaControl" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMediaPlaybackService" type="i0:IMediaPlaybackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/Pause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextTrack">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/NextTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrevTrack">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PrevTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayTrack">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PlayTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaState">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/GetMediaState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayTracks">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PlayTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayArtist">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PlayArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayAlbumArtist">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PlayAlbumArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayAlbum">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/PlayAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/GetCapabilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVolume">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaPlaybackService/SetVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaPlaybackService">
    <wsdl:port name="BasicHttpBinding_IMediaPlaybackService" binding="tns:BasicHttpBinding_IMediaPlaybackService">
      <soap:address location="http://localhost:8888/MediaPlayback" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>