Libraries/MediaControl.Client.WindowsPhone/Service References/MediaLibrary/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.ggjonline.com/ServiceModel/MediaControl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaLibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.ggjonline.com/ServiceModel/MediaControl" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMediaLibraryService" type="i0:IMediaLibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlbumsByArtist">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumsByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTracks">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTracksByArtist">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetTracksByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTracksByAlbumArtist">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetTracksByAlbumArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumArtByTrack">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumArtByTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumArtByAlbum">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumArtByAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetCapabilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumArtistCount">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumArtistCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumArtistRange">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumArtistRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistCount">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetArtistCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistRange">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetArtistRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumCount">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlbumRange">
      <soap:operation soapAction="http://www.ggjonline.com/ServiceModel/MediaControl/IMediaLibraryService/GetAlbumRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaLibraryService">
    <wsdl:port name="BasicHttpBinding_IMediaLibraryService" binding="tns:BasicHttpBinding_IMediaLibraryService">
      <soap:address location="http://localhost:8888/MediaLibrary" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>